.add__button {
    transform-origin: center;
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0 0 20px 2px rgba(210, 88, 194, 0.53);
    border: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    border-radius: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -80px);
    transition: transform 300ms;
}

.add__button a {
    text-decoration: none;
    transform-origin: center;
    min-width: 44px;
}
.add__button a:hover {
    transform: scale(1.1);
}
@media screen and (min-width: 720px) {
    .add__button {
        margin-left: none;
        margin-right: none;
        left: auto;
        bottom: 0;
        right: 0;
        transform: translate(-10px, -10px);
    }
}
