.login {
    background-color: var(--on-surface);
    padding: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
