.input__catatan {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    gap: 10px;
    padding: 20px;
}
.input__catatan .input {
    color: var(--on-surface);
    border: none;
    padding: 10px;
    width: 100%;
    background-color: inherit;
    outline: none;
    caret-color: var(--primary);
}
.input__catatan .input[type="text"] {
    font-size: 24pt;
}
.input__catatan .wrapper {
    min-height: 250px;
    font-size: 24px;
    min-height: 500px;
    outline: none;
    padding: 8px 0;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.input__catatan .input::placeholder {
    font-size: 14pt;
}
.submit {
    width: 100%;
    cursor: pointer;
    background-color: var(--primary);
    padding: 5px 8px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.1em;
}
@media screen and (min-width: 720px) {
    .input {
        font-size: 12pt;
    }
}
