header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin-bottom: 10px;
}

header h1 {
    flex: 1;
    font-size: 15pt;
}

header h1 a {
    text-decoration: none;
}

header .navigation ul li {
    margin: 0 8px;
    display: none;
}
.darkmode__mobile li {
    display: flex;
    align-items: center;
}
.darkmode__mobile a {
    min-width: 44px;
    font-size: 16pt;
}
@media screen and (min-width: 720px) {
    header h1 {
        font-size: 26px;
    }
    header .navigation ul li {
        display: inline-block;
        font-size: 20px;
    }
    header > .navigation > ul > li > a {
        font-size: 1rem;
    }
    .darkmode__mobile {
        display: none;
    }
}
